@{
    ViewData["Title"] = "Home";
}

    <div class="text-center">
        <h1 class="display-4">Bienvenido </h1>
        <a asp-area="" asp-controller="Orders" asp-action="Index">Pedidos</a> |
        <a asp-area="" asp-controller="Orders" asp-action="Create">Crear pedido</a> |
        <a asp-area="" asp-controller="Orders" asp-action="Edit">Editar</a>
    </div>
